.caja{
    width: 100px;
    height: 40px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: salmon;
    font-size: 18px;
}

.derecha{
    float: right;
    background-color: salmon;
}

.izquierda{
    float: left;
    background-color: seagreen;
}
.parrafo{
    width: 200px;
    clear: left;
}

.seccion_relativa{
    width: 100%;
    height: 50px;
    background-color: blue;
    position: relative;
}

.box_absolute{
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: purple;
    top: 0px;
    right: 0px;

}

.seccion_fija{
    width: 100%;
    height:60px;
    background-color: red;
    position: fixed;
}
.seccion_sticky{
    width: 100%;
    height:60px;
    background-color: goldenrod;
    position: sticky;
    top: 0;
}